body {
  font-family: Arial, sans-serif;
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
  margin: 0;
  padding: 0;
}



.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #444; /* Darker container background */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjusted shadow color */
}

.container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #e4bc0e; /* Light text */
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-info div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #666; /* Darker background for profile info */
  border: 1px solid #a17516; /* Darker border */
  border-radius: 5px;
}

.profile-info div span {
  font-weight: bold;
  color: #fff; /* Light text */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050000;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure navigation bar is above other content */
  width: 100%;
  transition: top 0.3s; /* Add transition effect for smooth appearance */
}



.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #dfb80e;
  color: black;
}

.navbar .logo {
  flex: 1;
}

.navbar .menu {
  display: flex;
}

.navbar.responsive .menu {
  display: block;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar .icon {
      display: block;
      cursor: pointer;
  }

  .navbar .menu {
      display: none;
  }

  .navbar.responsive .menu {
      display: flex;
      flex-direction: column;
      background-color: #1a1a1a;
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
  }

  .navbar.responsive .menu a {
      padding: 10px 20px;
      /* text-align: center; */
  }
}

/*css for navgation end*/

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}