/* manage-trainers.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffc107;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(150, 22, 22, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ffc107;
}

th {
    background-color: #be9b32;
    color: white;
}

tr:hover {
    background-color: #be9b32;
}

button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    background-color: #be9b32;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #be9b32;
    border-radius: 5px;
    background-color: be9b32;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #be9b32;
}
